.quizContainer .result {
  text-align: center;
  color: #ffffff;
  font-size: 3em;
  font-family: Verdana, sans-serif;
}

.quizContainer .result button {
  display: inline-block;
  margin: 1em;
  padding: 0.4em 1.4em;
  border-radius: 0.2em;
  color: #f0efeb;
  background-color: #b7b7a4;
  font-size: 1em;
}

.quizContainer .result button:hover {
  background-color: #766153;
}

.quizContainer .question {
  text-align: center;
  color: #ffffff;
}

.quizContainer .question .questionCount {
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
}

.quizContainer .question .questionPrompt {
  background-color: #eff1ed;
  padding: 1em;
  color: #766153;
  font-size: 3em;
}

.quizContainer .answers {
  text-align: center;
}

.quizContainer .answers button {
  display: inline-block;
  margin: 1em;
  padding: 0.4em 1.4em;
  border-radius: 0.2em;
  color: #f0efeb;
  background-color: #b7b7a4;
  font-size: 1em;
}

.quizContainer .answers button:hover {
  background-color: #766153;
}

.quizContainer .answers button:focus {
  outline: none;
  box-shadow: none;
}